# VeilGate — env vars
# Testnet deployment: CA6FHJOFCNGVFROT67GSSTZBKPDT5HSRIP7FTHTLQ6ENJI7UJW2PTCUT

NEXT_PUBLIC_VERIFIER_CONTRACT_ID=CA6FHJOFCNGVFROT67GSSTZBKPDT5HSRIP7FTHTLQ6ENJI7UJW2PTCUT
NEXT_PUBLIC_HORIZON_RPC=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK=testnet
# Shielded pools (real settlement on testnet) — one contract per denomination
NEXT_PUBLIC_POOL_CONTRACT_ID=CDZGIFZFRFKYIMSPBLA2OSFVD5RIUVVVWRVN5LPAHYHDGH6LOEGKGD7H
NEXT_PUBLIC_POOL_01_XLM=CDZGIFZFRFKYIMSPBLA2OSFVD5RIUVVVWRVN5LPAHYHDGH6LOEGKGD7H
NEXT_PUBLIC_POOL_1_XLM=CBIIKKJHZKA77YWXIITCUX6HFVEWIZAJYKO2Q6ZL3SJ3ZTFUY4RESJ2Z
NEXT_PUBLIC_POOL_10_XLM=CB27XGZ53S3WGDJE3MN3EHKPBXAMELAK7NY5ZD42ES7ZSLMF7AHTC57E
