# VeilGate — env vars
# Testnet deployment: CA6FHJOFCNGVFROT67GSSTZBKPDT5HSRIP7FTHTLQ6ENJI7UJW2PTCUT

NEXT_PUBLIC_VERIFIER_CONTRACT_ID=CA6FHJOFCNGVFROT67GSSTZBKPDT5HSRIP7FTHTLQ6ENJI7UJW2PTCUT
NEXT_PUBLIC_HORIZON_RPC=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK=testnet